.stonehenge-region {
	position: relative;
}

a.stonehenge-edit {
	font-size: 20px;
	line-height: 1;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: -24px;
	z-index: 1;
	color: #42dca3;
	float: left;
}

a.stonehenge-edit:hover {
	color: #fff;
}

.CodeMirror {
	min-height: 200px;
	text-align: left;
}

.redactor-toolbar {
	text-align: left;
}
